slideshow.avi
.env
narration.mp3
narration.wav
final_video.mp4
slideshow.mp4
temp_audio.mp3
output_v.mp4
final_video_1744829416.mp4
final_video_1744829691.mp4
final_video_1744832936TEMP_MPY_wvf_snd.mp4
final_video_1744832936.mp4
final_video_1744868404TEMP_MPY_wvf_snd.mp4
/videos
BEmajorproject_report.pdf